<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue.js学習33~48</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<p v-if="ok">OK!</p>
			<p v-else-if="maybeOk">maybe OK!</p>
			<p v-else>Not OK...</p> <!-- v-ifの直下に記載する事。 -->
			<!-- 
			<template>
				<p v-if="ok_no">1</p>
				<p v-if="ok_no">2</p>
				<p v-if="ok_no">3</p>
			</template>
			-->
			<!-- templateは上記のv-ifをまとめる役割を持つ。 -->
			<template v-if="ok_no">
				<p>1</p>
				<p>2</p>
				<p>3</p>
			</template>
			<p v-show="ok">Show</p> <!-- v-ifと違い、display:'none'の切替えで表示を制御。templateには適用できない。頻繁に何かの表示を制御する場合に使用。 -->
			<button @click="ok_no = !ok_no">ボタン</button>
			<ul>
				<li v-for="(val,i) in fruits">{{i}}. {{val}}</li>
			</ul>
			<ul>
				<li v-for="(val,k,i) in object">{{i}}. {{k}}: {{val}}</li>
			</ul>
			<ul>
				<template v-for="val in fruits"> <!-- templateタグでまとめる事も可能。 -->
					<li>{{val}}</li>
					<hr>
				</template>
			</ul>
			<ul>
				<li v-for="n in 10">{{n}}</li>
			</ul>
			<!-- 下記の場合、templateタグは属性を持たないのでdivタグで行う。 -->
			<ul>
				<div v-for="val in fruits" :key="val">
					<li>{{val}}</li>
					<input type="text">
				</div>
			</ul>
			<button @click="remove">先頭を削除</button>
		</div>
		<script>
			new Vue({
				el:"#app",
				data: {
					ok: false,
					ok_no: true,
					maybeOk: true,
					fruits: ['りんご', 'バナナ', 'ぶどう'],
					object: {
						firstName: '太郎',
						lastNamr: '山田',
						age: '22'
					}
				},
				methods: {
					remove: function() {
						this.fruits.shift();
					}
				}
			})
		</script>
	</body>
</html>